# Re-sources the .bash_profile
alias resource='. $DOTDIR/.bash_profile'

# Change directories to the dotfiles project
alias cdot='cd $DOTDIR'
alias ghdot='open https://github.com/hopsoft/dotfiles'

delete_editor_tmp_files() {
  rm -rf /tmp/editor
  mkdir -p /tmp/editor
}

# Edit the current directory with the default editor
edit_current_dir() {
  if [ "$1" ]; then
    cd "$1"
    $EDITOR $2
  else
    $EDITOR
  fi
}
alias edit=edit_current_dir
alias clean-edit="delete_editor_tmp_files && edit_current_dir"

# Edit this dotfiles project
alias edot='$EDITOR $DOTDIR'

# Search all GEMs in the current RVM gemdir
search_gems() {
  ack "$1" "$(rvm gemdir)/gems"
}
alias sgems=search_gems

# Edit a gem in the currently bundled Gemfile
edit_bundled_gem() {
  bundle show "$1" | xargs $EDITOR ;
}
alias egem=edit_bundled_gem

# Perform an ACK search on a bundled GEM
search_bundled_gem() {
  bundle show "$1" | xargs ack "$2";
}
alias sgem=search_bundled_gem

# github pages script
alias gp='$HOME/.dotfiles/scripts/github_pages.rb'

# vim without sourcing .vimrc
alias vimx='vim -u NONE -N'

# git log with diff
alias gl='git log -p $1'

# search git log diffs
alias gls='git log -p -S$1'

rbenv_switch_ruby() {
  export RBX_ROOT=$HOME/.rbenv/versions/rbx-2.0.0-dev

  if [ "$PRE_RBX_PATH" ]; then
    export PATH=$PRE_RBX_PATH
  fi

  case "$1" in
  1.8)    rbenv shell 1.8.7-p370
          ruby -v
          ;;
  # 1.9)    rbenv shell 1.9.3-p194
  1.9)    rbenv shell 1.9.3-p286
          ruby -v
          ;;
  2.0)    rbenv shell 2.0.0-p0
          ruby -v
          ;;
  jruby)  rbenv shell jruby-1.7.0-preview2
          ruby -v
          ;;
  rbx)    export PRE_RBX_PATH=$PATH
          export PATH=$RBX_ROOT/gems/1.9/bin:$PATH
          rbenv shell rbx-2.0.0-dev
          ruby -v
          ;;
  esac

  rbenv rehash
}
alias rb='rbenv_switch_ruby'

# based on: https://gist.github.com/jimbojsb/1630790
alias hl='pbpaste | highlight --syntax=ruby --style=bright -O rtf | pbcopy'
alias cdruby='cd $RUBY_PATH/lib/ruby'
alias ctags-with-gems='ctags . $(bundle list --paths)'
alias jsonfiy='$DOTDIR/bin/jsonify'
alias b='bundle'
alias be='bundle exec'
alias dbe="doppler run -- bundle exec"
alias myip='curl ifconfig.co/x-real-ip'
alias brew-prune='cd "$(brew --repo)" && git prune && git gc && cd -'
#alias tmux='tmux -2'

kill_port () {
  lsof -t -i tcp:"$1" | xargs kill -KILL
}
alias kp!='kill_port'

alias ddown='docker-compose down'

docker_compose_up () {
  docker-compose up -d "$@"
}
alias dup='docker_compose_up'

docker_exec () {
  project=$(basename $(pwd))
  name="$1"
  shift
  docker exec -it "$project-$name" "$@"
}
alias dexec='docker_exec'
alias dx='docker_exec'

docker_tail () {
  project=$(basename $(pwd))
  name="$1"
  shift
  docker logs -f "$@" "$project-$name"
}
alias dtail='docker_tail'
alias dt='docker_tail'

docker_attach () {
  project=$(basename $(pwd))
  docker attach "$project-$@"
}
alias dattach='docker_attach'
alias da='docker_attach'

docker_command () {
  command="$1"
  shift

  if [[ -z "$@" ]]; then
    docker-compose "$command"
  else
    name="$1"
    shift
    project=$(basename $(pwd))
    docker "$command" "$@" "$project-$name"
  fi
}

docker_start () {
  docker_command start "$@"
}
alias dstart='docker_start'

docker_stop () {
  docker_command stop "$@"
}
alias dstop='docker_stop'

docker_restart () {
  docker_command restart "$@"
}
alias drestart='docker_restart'

alias tf='terraform'

alias ctr="containers $@"
alias infra="containers $@"
alias stack="containers $@"
