# Count lines of code
alias cloc='$(dotdir)/scripts/cloc-1.53.pl'

# Re-sources the .bash_profile
alias resource='. $(dotdir)/.bash_profile'

# Change directories to the dotfiles project
alias cdot='cd $(dotdir)'

# Edit the current directory with the default editor
edit_current_dir() {
  if [ -v $1 ]; then
    $EDITOR ./
  else
    $EDITOR $1
  fi
}
alias edit=edit_current_dir

# Edit this dotfiles project
alias edot='$EDITOR $(dotdir)'

# Search all GEMs in the current RVM gemdir
search_gems() {
  ack "$1" "$(rvm gemdir)/gems"
}
alias sgems=search_gems

# Edit a gem in the currently bundled Gemfile
edit_bundled_gem() {
  bundle show "$1" | xargs $EDITOR ;
}
alias egem=edit_bundled_gem

# Perform an ACK search on a bundled GEM
search_bundled_gem() {
  bundle show "$1" | xargs ack "$2";
}
alias sgem=search_bundled_gem

# github pages script
alias gp='$HOME/.dotfiles/scripts/github_pages.rb'


# vim without sourcing .vimrc
alias vimx='vim -u NONE -N'

# git log with diff
alias gl='git log -p $1'

# search git log diffs
alias gls='git log -p -S$1'
