# Change directories to the dotfiles project
alias cdot='cd $DOTDIR'
alias ghdot='open https://github.com/hopsoft/dotfiles'

delete_editor_tmp_files() {
  rm -rf /tmp/editor
  mkdir -p /tmp/editor
}

# Edit the current directory with the default editor
edit_current_dir() {
  if [ "$1" ]; then
    cd "$1"
    $EDITOR $2
  else
    $EDITOR
  fi
}
alias edit=edit_current_dir
alias clean-edit="delete_editor_tmp_files && edit_current_dir"

# Edit this dotfiles project
alias edot='$EDITOR $DOTDIR'

# Search all GEMs in the current RVM gemdir
search_gems() {
  ack "$1" "$(rvm gemdir)/gems"
}
alias sgems=search_gems

# Edit a gem in the currently bundled Gemfile
edit_bundled_gem() {
  bundle show "$1" | xargs $EDITOR ;
}
alias egem=edit_bundled_gem

# Perform an ACK search on a bundled GEM
search_bundled_gem() {
  bundle show "$1" | xargs ack "$2";
}
alias sgem=search_bundled_gem

# github pages script
alias gp='$HOME/.dotfiles/scripts/github_pages.rb'

# vim without sourcing .vimrc
alias vimx='vim -u NONE -N'

# based on: https://gist.github.com/jimbojsb/1630790
alias hl='pbpaste | highlight --syntax=ruby --style=bright -O rtf | pbcopy'
alias cdruby='cd $RUBY_PATH/lib/ruby'
alias ctags="ctags . $(bundle show --paths) ./node_modules"
alias ctags-with-gems='ctags . $(bundle list --paths)'
alias jsonfiy='$DOTDIR/bin/jsonify'
alias b='bundle'
alias be='bundle exec'
alias dbe="doppler run -- bundle exec"
alias myip='curl ifconfig.co/x-real-ip'
alias brew-prune='cd "$(brew --repo)" && git prune && git gc && cd -'
#alias tmux='tmux -2'

kill_port () {
  lsof -t -i tcp:"$1" | xargs kill -KILL
}
alias kp!='kill_port'
alias x="tmuxinator $@"
alias xup="tmuxinator $@"
alias xdown="tmux kill-session -t $@"
alias xlist="tmux list-sessions"
