*.dump
*.log
*.orig
*.swp
*~
.DS_Store
.env
.idea
.private
.rvmrc
.tags
.tmuxinator.yml
.tool-versions
.yardoc
.yalc
yalc.lock
/**/node_modules
/.bundle
/log/*.log
/node_modules
/tmp
_site
coverage
prof
