[color]
	ui = true
[user]
	name = Nate Hopkins (hopsoft)
	email = natehop@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[core]
	excludesfile = ~/.gitignore
[difftool "opendiff"]
	cmd = /usr/bin/opendiff $LOCAL $REMOTE
[mergetool "opendiff"]
  cmd = /usr/bin/opendiff $LOCAL $REMOTE -ancestor $BASE -merge $MERGED
	trustExitCode = true
[merge]
  tool = opendiff
[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[pull]
	rebase = true
[init]
	defaultBranch = main
