*.dump
*.log
*.orig
*.swp
*~
.DS_Store
.env
.idea
.private
.rvmrc
.tags
.tmuxinator.yml
.tool-versions
.yalc
.yardoc
/**/node_modules
/.bundle
/log/*.log
/node_modules
/tmp
_site
coverage
master.key
prof
tags
yalc.lock
